<h1>{{ title }}</h1>
<p>Welcome to {{ title }}</p>
<section >
<form action="/insert" method="post">
<div>
  <label class="input" for="title">Title</label>
  <input type="text" id="title" name="title">
</div>
 <div class="input">
  <label class="input" for="author">Author</label>
  <input type="text" id="author" name="author">
</div>
<div class="input">
  <label class="input" for="content">Content</label>
  <input type="text" id="content" name="content">
</div> 

  <button type="submit">INSERT</button>
  <div><p>{{ result }}</p></div>
</form>
</section>

<section>
<h3>GET DATA</h3>
<a href="/get-data">LOAD DATA</a>
<div>
  {{# each items}}
    <article>
      <div>Title: {{this.title}}</div>
      <div>Author: {{this.author}}</div>
      <div>Content: {{this.content}}</div>
    </article>
  {{/each}}

</div>
</section>
<section>
  
</section>