<div id="container">

      <!-- Main Container -->
      <div class="container">
        <div class="row justify-content-center mt-4">
          <div class="col-xs-12 col-lg-6 col-md-8">
            <div class="card">
              <div class="card-body pt-2">
                <div class="text-center">
                  <div class="d-inline-block border border-secondary rounded-circle text-center m-auto">
                    <h1 class="px-1"><i class="fa fa-user fa-fw"></i></h1>
                  </div>
                </div>
                <h5 class="card-title text-center">Create an Account</h5>
                Validation Erros
                <form action="/user/register" method="post">
                  <div class="form-row">
                    {{!-- <div class="form-group col-md-6">
                      <label for="InputName">Name</label>
                      <input type="text" class="form-control" id="InputName" placeholder="Enter Name" add-class-on-xs="form-control-sm">
                    </div> --}}
                    <div class="form-group col-md-6">
                      <label for="InputEmail">Email Address</label>
                      <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email" add-class-on-xs="form-control-sm">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="InputPassword">Password</label>
                      <input type="password" class="form-control" id="password" name="password" placeholder="Password" add-class-on-xs="form-control-sm">
                    </div>
                    {{!-- <div class="form-group col-md-6">
                      <label for="InputPassword2">Confirm Password</label>
                      <input type="password" class="form-control" id="InputPassword2" placeholder="Confirm Password" add-class-on-xs="form-control-sm">
                    </div> --}}
                  </div>
                  {{!-- <div class="form-group">
                    <label class="mb-0" for="InputAddress">Address</label>
                    <textarea class="form-control" id="InputAddress" rows="2" add-class-on-xs="form-control-sm"></textarea>
                  </div> --}}
                  <!-- Added csrf token -->
                  <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                  <button type="submit" class="btn btn-theme btn-sm btn-block my-3">Submit</button>
                  <div class="form-group text-right">
                    <a href="login.html" class="text-default"><small>Already Registered ?</small></a>
                  </div>
                  <div class="form-group mt-3 text-center">Or Register using</div>
                  <div class="text-center">
                    <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-facebook"></i> Facebook</button>
                    <button type="button" class="btn btn-info btn-sm"><i class="fa fa-twitter"></i> Twitter</button>
                    <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-google-plus"></i> Google Plus</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Footer -->
      {{> footer }}

      <!-- Login Modal -->
      {{> login }} 

      <a href="#top" class="back-top text-center" onclick="$('body,html').animate({scrollTop:0},500); return false">
        <i class="fa fa-angle-double-up"></i>
      </a>

    </div>

