
<!-- Footer -->
<div class="footer">
<div class="container">
    <div class="row equal-height">
    <div class="col-lg-3 col-md-6">
        <div class="title-footer"><span>About Us</span></div>
        <ul>
        <li>
            Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et doloremmagna aliqua. Ut enim ad minim... <a href="about.html">Read More</a>
        </li>
        </ul>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="title-footer"><span>Information</span></div>
        <ul>
        <li><i class="fa fa-angle-double-right"></i> <a href="faq.html">FAQ</a></li>
        <li><i class="fa fa-angle-double-right"></i> <a href="#">Policy Privacy</a></li>
        <li><i class="fa fa-angle-double-right"></i> <a href="#">Terms and Conditions</a></li>
        <li><i class="fa fa-angle-double-right"></i> <a href="#">Shipping Methods</a></li>
        </ul>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="title-footer"><span>Categories</span></div>
        <ul>
        <li><i class="fa fa-angle-double-right"></i> <a href="products.html">Cras justo odio</a></li>
        <li><i class="fa fa-angle-double-right"></i> <a href="products.html">Dapibus ac facilisis in</a></li>
        <li><i class="fa fa-angle-double-right"></i> <a href="products.html">Morbi leo risus</a></li>
        <li><i class="fa fa-angle-double-right"></i> <a href="products.html">Porta ac consectetur ac</a></li>
        </ul>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="title-footer"><span>Newsletter</span></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, soluta, tempora, ipsa voluptatibus porro vel laboriosam</p>
        <div class="input-group input-group-sm">
        <input class="form-control" type="text" placeholder="Email Address" aria-label="Email Address">
        <div class="input-group-append">
            <button class="btn btn-theme" type="button">Subscribe</button>
        </div>
        </div>
    </div>
    </div>
    <div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="title-footer"><span>Our Store</span></div>
        <ul class="footer-icon">
        <li><span><i class="fa fa-map-marker"></i></span> 212 Lorem Ipsum. Dolor Sit</li>
        <li><span><i class="fa fa-phone"></i></span> +123-456-789</li>
        <li><span><i class="fa fa-envelope"></i></span> <a href="mailto:cs@domain.tld">cs@domain.tld</a></li>
        </ul>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="title-footer"><span>Follow Us</span></div>
        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum</p>
        <ul class="follow-us">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa fa-rss"></i></a></li>
        </ul>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="title-footer"><span>Payment Method</span></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, soluta, tempora, ipsa voluptatibus porro vel laboriosam</p>
        <img src="images/payment-1.png" alt="Payment-1">
        <img src="images/payment-2.png" alt="Payment-2">
        <img src="images/payment-3.png" alt="Payment-3">
        <img src="images/payment-4.png" alt="Payment-4">
        <img src="images/payment-5.png" alt="Payment-5">
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="title-footer"><span>My Account</span></div>
        <ul>
            <li><i class="fa fa-angle-double-right"></i> <a href="account-order.html">Orders</a></li>
            <li><i class="fa fa-angle-double-right"></i> <a href="account-profile.html">Profile</a></li>
            <li><i class="fa fa-angle-double-right"></i> <a href="account-wishlist.html">Wishlist</a></li>
            <li><i class="fa fa-angle-double-right"></i> <a href="#">Logout</a></li>
        </ul>
    </div>
    </div>
</div>
<div class="text-center copyright">
    Copyright &copy; 2018 Mimity All right reserved
</div>
</div>