<!-- Login Modal -->
<div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="LoginModalLabel" aria-hidden="true">
<div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="LoginModalLabel">Enter Your Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
        <label for="InputUsername" class="font-weight-bold">Email</label>
        <input type="text" class="form-control" id="InputUsername" placeholder="Enter Email">
        </div>
        <div class="form-group">
        <label for="InputPassword" class="font-weight-bold">Password</label>
        <input type="password" class="form-control" id="InputPassword" placeholder="Password">
        <a href="#" class="float-right text-default"><small>Forgot Password ?</small></a>
        </div>
        <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="checkRememberMe">
        <label class="custom-control-label" for="checkRememberMe">Remember Me</label>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-theme btn-sm">Enter</button>
    </div>
    </div>
</div>
</div>