<!-- Top Brands -->
<div class="row mb-4">
    <div class="col-12">
    <div class="title"><span>Top Brands</span></div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 list-menu">
    <div class="list-group">
        <a href="products.html" class="list-group-item list-group-item-action"><i class="fa fa-fw fa-renren"></i> Cras justo odio</a>
        <a href="products.html" class="list-group-item list-group-item-action"><i class="fa fa-fw fa-resistance"></i> Dapibus ac facilisis in</a>
        <a href="products.html" class="list-group-item list-group-item-action"><i class="fa fa-fw fa-safari"></i> Morbi leo risus</a>
        <a href="products.html" class="list-group-item list-group-item-action"><i class="fa fa-fw fa-scribd"></i> Porta ac consectetur ac</a>
        <a href="products.html" class="list-group-item list-group-item-action"><i class="fa fa-fw fa-sellsy"></i> Vestibulum at eros</a>
    </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 list-menu">
    <div class="list-group">
        <a href="products.html" class="list-group-item list-group-item-action"><i class="fa fa-fw fa-share-alt"></i> Cras justo odio</a>
        <a href="products.html" class="list-group-item list-group-item-action"><i class="fa fa-fw fa-share-alt-square"></i> Dapibus ac facilisis in</a>
        <a href="products.html" class="list-group-item list-group-item-action"><i class="fa fa-fw fa-shirtsinbulk"></i> Morbi leo risus</a>
        <a href="products.html" class="list-group-item list-group-item-action"><i class="fa fa-fw fa-simplybuilt"></i> Porta ac consectetur ac</a>
        <a href="products.html" class="list-group-item list-group-item-action"><i class="fa fa-fw fa-skyatlas"></i> Vestibulum at eros</a>
    </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 list-menu d-none d-md-block">
    <div class="list-group">
        <a href="products.html" class="list-group-item list-group-item-action"><i class="fa fa-fw fa-skype"></i> Cras justo odio</a>
        <a href="products.html" class="list-group-item list-group-item-action"><i class="fa fa-fw fa-slack"></i> Dapibus ac facilisis in</a>
        <a href="products.html" class="list-group-item list-group-item-action"><i class="fa fa-fw fa-slideshare"></i> Morbi leo risus</a>
        <a href="products.html" class="list-group-item list-group-item-action"><i class="fa fa-fw fa-snapchat"></i> Porta ac consectetur ac</a>
        <a href="products.html" class="list-group-item list-group-item-action"><i class="fa fa-fw fa-snapchat-ghost"></i> Vestibulum at eros</a>
    </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 list-menu d-none d-lg-block">
    <div class="list-group">
        <a href="products.html" class="list-group-item list-group-item-action"><i class="fa fa-fw fa-snapchat-square"></i> Cras justo odio</a>
        <a href="products.html" class="list-group-item list-group-item-action"><i class="fa fa-fw fa-soundcloud"></i> Dapibus ac facilisis in</a>
        <a href="products.html" class="list-group-item list-group-item-action"><i class="fa fa-fw fa-spotify"></i> Morbi leo risus</a>
        <a href="products.html" class="list-group-item list-group-item-action"><i class="fa fa-fw fa-stack-exchange"></i> Porta ac consectetur ac</a>
        <a href="products.html" class="list-group-item list-group-item-action"><i class="fa fa-fw fa-stack-overflow"></i> Vestibulum at eros</a>
    </div>
    </div>
</div>