<!-- Including home page slider -->
{{> home-slider }}

<div id="container">
<!-- Including top-cats.hbs thumbnails -->
    {{> top-cats }}

    <div class="container">
        <!-- Including featured-items.hbs -->
        {{> featured-items }}

        <!-- Including top-brands.hbs -->
        {{> top-brands }}

        <!-- Including popular-items.hbs -->
        {{> popular-items }}
    </div>

    <!-- Including footer.hbs thumbnails -->
    {{> footer }}

    <!-- Including login.hbs thumbnails -->
    {{> login }}

    {{> quickview }}
</div>



