<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <title>Home - Mimity</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap/css/bootstrap.min.css">

    <!-- Third Party CSS -->
    <link rel="stylesheet" href="/stylesheets/css/animate.min.css">
    <link rel="stylesheet" href="/stylesheets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/stylesheets/css/owl.theme.default.min.css">

    <!-- Mimity CSS -->
    <link rel="stylesheet" href="/stylesheets/css/style.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  </head>
  <body>
    <!-- Including header.hbs -->
    {{> header }} 

    {{{body}}}
    <script src="javascripts/jquery-3.2.1.min.js"></script>
    <script src="javascripts/popper.min.js"></script>
    <script src="javascripts/bootstrap/js/bootstrap.min.js"></script>
    <script src="javascripts/bootstrap3-typeahead.min.js"></script>

    <!-- Third Party JS -->
    <script src="javascripts/owl.carousel.min.js"></script>

    <!-- Mimity JS -->
    <script src="javascripts/mimity.min.js"></script>
  </body>
</html>
